[submodule "supmap-users"]
	path = supmap-users
	url = https://github.com/4PROJ-Le-projet-d-une-vie/supmap-users.git
[submodule "supmap-incidents"]
	path = supmap-incidents
	url = https://github.com/4PROJ-Le-projet-d-une-vie/supmap-incidents.git
[submodule "supmap-gis"]
	path = supmap-gis
	url = https://github.com/4PROJ-Le-projet-d-une-vie/supmap-gis.git
[submodule "supmap-front"]
	path = supmap-front
	url = https://github.com/4PROJ-Le-projet-d-une-vie/supmap-front.git
