[submodule "supmap-users"]
	path = supmap-users
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-users.git
[submodule "supmap-incidents"]
	path = supmap-incidents
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-incidents.git
[submodule "supmap-gis"]
	path = supmap-gis
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-gis.git
[submodule "supmap-front"]
	path = supmap-front
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-front.git
[submodule "supmap-webapp"]
	path = supmap-webapp
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-webapp.git
[submodule "supmap-gateway"]
	path = supmap-gateway
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-gateway.git
[submodule "supmap-devops"]
	path = supmap-devops
	url = git@github.com:4PROJ-Le-projet-d-une-vie/supmap-devops.git
